<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-lbelvale2016_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-lbelvale2016_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>lbelvale2016.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04152396AC6A070DCBEAD41660D409FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B1075F6EC728207EE8053125DCD1B17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E465E6908CB05BCA9FDAE79D2C840F59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
